*.aux
*.bbl
*.blg
*.log
/*.asv
/*.synctex.gz
/vlfeat-0.9.20-bin.tar.gz
/vlfeat-0.9.20/
*.9.20-bin.tar
/pax_global_header
/bundler-v0.4-source/
/siftDemoV4/
/OR_Crater_Lake_East_20110901_TM_geo.pdf
/OR_Crater_Lake_West_20110812_TM_geo.pdf
/gda_1366392.zip
/gda_5311342.zip
